# LaTeX temp files
*.aux
*.log
*.toc
*.out
*.blg
*zh.bbl
*.lb
*.nav
*.snm
*.gz
*.vrb
*.lot
*.lof
*.synctex.gz
*.fdb_latexmk
*.fls
*.xdv

# PDF output - usually a bad idea to keep this in Git
*.pdf
*.pdf*

.DS_Store

*.bbl
*.ent
